//初始化
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/bg.jpg)no-repeat top center;
  line-height: 1.15;
}



header{
    height: 1.25rem;
    background: url(../img/head_bg.png) no-repeat;
    background-size: 100% 100%;
  h1{
    font-size: .475rem;
    color: white;
    line-height: 1rem;
    text-align: center;
  }
}

//主体盒子

#mainBox{
  display: flex;
  min-width:1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: .125rem .125rem 0rem ;

  color: white;
  .column{
    flex: 3;
  }
  .column:nth-child(2){
    flex: 5;
  }

}